<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">IBM CA 101</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/json">JSON</a></li>
      <li class="divider"></li>
      <li><a href="/chyld">Chyld</a></li>
      <li><a href="/math">Math</a></li>
      <li><a href="/pens">Pens</a></li>
      <li><a href="/tweets">Tweets</a></li>
      <li><a href="/translations">Translations</a></li>
      <li><a href="/images">Images</a></li>
    </ul>
  </section>
</nav>
